:root{
    --white : white;
    --black  : black;

    --border-black : #00000050;

    --black-text : black;
    --grey-submenu: #1B1B1B;
    --grey-hover: #A4A4A4 ;

    --typo-first  : 'Open Sans', sans-serif;
}

/* Reset */
*{  
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
}
li{
    list-style-type: none;
}
a{
    display: block;
    color: var(--black-text);
    text-decoration: none;
}
img{
    width:100%;
    display: block;
    object-fit: cover;
}
.clear::after{
    content: '';
    display: block;
    clear: both;
}
body{
    font-size: 100%;
    font-family: var(--typo-first);
    background-color: var(--white);
    color:var(--black);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .25em;
} 



.header{
    width:100%;
    background-color: var(--white);
    padding: 2.2em 2%;
    position: fixed;
    top: 0;
}
.header .centered{
    width: 80%;
    margin: auto;   
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: initial;
}
.header .fa-bars{
    display: none;
    float: right;
    margin: .3em 0 0 ;
}
.header .logo{
    width: 100%;
    max-width: 9.3em;
    display:flex;
}
.header .header__menu{
    width: calc( 90% - 9.3em );
    display: flex;
    margin: .65em 0 0;
    
}
.header .header__ul{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: initial;
}
.header .header__li{
    margin: 0 0 0 .8em;
    font-size: .9em;
    font-weight: 300;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: .18em;
    position: relative;
}
.header .header__item:hover{
    color: var(--grey-hover);
    display: block;
}
.header .header__li:hover .submenu__ul{
    display: block;
    pointer-events: visible;
    opacity: 100%;
    transition: all .9s ease;
}
.header .submenu__ul{
    min-width: 18em;
    border-top: solid .75em var(--white);
    position: absolute;
    background-color: var(--grey-submenu);
    padding: 0 1em;
    pointer-events: none;
    opacity: 0%;
}
.header .submenu__li .submenu__item{
    margin: 1em 0;
    text-align: left;
    font-weight: 600;
    letter-spacing: .12em;
    color: var(--white);
}
.header .submenu__li .submenu__item:hover{
    color: var(--grey-hover);
}



.main {
    background-color: var(--white);
}
.main .main__head{
    width:100%;
    min-height: 100vh;
    background-image: url(../assets/img/bg.jpg);
    background-position: center; /* bottom*/
    background-repeat: no-repeat;
    background-size: cover; /*auto 100%*/
    background-attachment: fixed;

    display: flex;
    flex-flow: row wrap; /*column wrap*/
    justify-content: center;
    align-items: center;
    align-content: initial;
}
.main .main__h2{
    width:90%;
}

.main .main__logo{
    width: 90%;
    max-width: 47.5em;
    min-height: 3em;
    margin: auto;
    margin-top: 11em;
}
.main__grid{
    width:100%;
    margin: 9em 0;
    padding: 10vh 0;
}
.main .main__p{
    width: 100%;
    margin-top: 2.5em;
    font-size: .8em;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .25em;
}
/*revisar con el main__grid*/
.main .centered {
    width: 80%;
    margin: auto;
    align-items: top;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}
.main .main__block:hover{
    color: var(--grey-hover);
}


.main .main__block{
    width: calc( 100% / 3 - 20px );
    float: left;
    margin:0 30px 0 0;
}
.main__block:last-child{
    margin:0;
}
.main__block .image{
    width:100%;
    min-height: 12.5em;
    margin: 0 0 2.5em 0;
}



.footer{
    width:100%;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-content: initial;
    min-height: 12.5em;
    font-size: .8em;    
}
.footer .footer__ul{
    width:  100%;
    margin: 4em auto;
    display: flex;
    min-height: 50px;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: initial;
}

.footer .footer__ul .footer__icon{
    width: 1.8em;
    height: 1.8em;
    min-height: 3em;
    margin: 0 .85em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: initial;

}
.footer .fab{
    font-size: 1.7em;
    color: var(--black-text);
}
.footer .fab:hover{
    color: var(--grey-hover);
}

.footer .footer__legal{
    width: 70%;
    max-width: 56.25em;
    min-height: 3em;
    margin: 1.2em auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: initial;
    align-content: center;

    font-size: .9em;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .22em;
    color: var(--black-text);
}
.footer .footer__links{
    min-height: 1.2em;
    margin: 0 .8em;
    padding: 0 0 .2em;
    border-bottom: .06em solid var(--border-black);
    
}
.footer .footer__links:hover{
    border-bottom: .06em solid var(--grey-hover);
    color: var(--grey-hover);
}
.footer .footer__copy{
    width:100%;
    max-width: 47.5em;
    margin-top: 1.4em;
    margin-bottom: 5.8em;
    font-size: .9em;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .22em;
    color: var(--black-text);
}

@media screen and (max-width:1200px){
    .header .header__ul{
        font-size: .9em;
        letter-spacing: .06em;
    }
}

@media screen and (max-width:1024px){
    .header{
        position: relative;
    }
    .header .fas{
        font-size: 1.3em;
        color: var(--grey-submenu);
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        align-content: initial;
        cursor: pointer;
    }
    .header .fas:hover{
        color: var(--grey-hover);
    }
    .header .header__menu{
        width: 100%;
        background-color: var(--white);
        padding-bottom: 3.12em;
        position: absolute;
        top: 5.6em;
        left: 0;
        opacity: 0;
        transition: all .5s ease;
        transform: translateX(-100%);
    }
    .header .header__menu.ver{
        display: flex;
        opacity: 1;
        transform: translateX(0%);
    }
    .header .header__ul{
        width: 75%;
        margin: auto;
        flex-direction: column;
        align-items: flex-start;
    }
    .header .header__li{
        margin: 1em 0;
    }
    /*subemnu en .js falta */
    .header .submenu__ul .submenu__li .submenu__item{
        display: none;
    }
}

@media screen and (max-width:960px){
    .main .main__grid{
        margin: 4em 0;
    }
    .main .centered{
        grid-template-columns: repeat(1, 1fr);
    }
}


@media screen and (prefers-color-scheme:dark){
    :root{
        --white : black;
        --black  : white;
    
        --border-black : #fdfbfbde;
    
        --black-text : white;
        --grey-submenu: #c0bebe;
        --grey-hover: #A4A4A4 ;
    
        --typo-first  : 'Open Sans', sans-serif;
   }
}